<footer id="footer">
    <div class="inner footer-flex">
      <div class="f-left">
        <div class="f-logo">
          <img src="/images/logo.jpg" class="logo-im" alt="식품의약품안전평가원 로고">
        </div>
        <div class="f-info">
          <p class="info-addr">
            (28159) 충청북도 청주시 흥덕구 오송읍 오송생명2로 187 
            오송보건의료행정타운 식품의약품안전평가원
          </p>
          <p class="info-tel">
            <strong>대표전화 043) 719 - ****</strong>
          </p>
        </div>
      </div>
  
      <div class="f-right">
        <div class="f-link">
          <a href="#" class="btn btn-txt sm ico-arr">찾아오시는 길</a>
          <a href="#" class="btn btn-txt sm ico-arr">이용안내</a>
          <a href="#" class="btn btn-txt sm ico-arr">개인정보처리방침</a>
        </div>
      </div>
    </div>
  
    <div class="f-btm">
      <div class="f-btm-text">
        <p class="f-copy">Copyright &copy; 식품의약품안전평가원 All rights reserved.</p>
      </div>
    </div>
  </footer>
  