<!-- src/main/resources/templates/fragments/header.html -->
<div th:fragment="header">
    <header class="header-top">
      <div class="header-left">
        <img src="/images/logo.jpg" alt="로고">
        <span class="site-name">교육이력관리시스템</span>
      </div>
      <div class="header-utils">
        <div class="icon-group">
          <button><img src="/images/icon-search.png" alt="검색"></button>
          <span class="icon-label">통합검색</span>
        </div>
        <div class="icon-group">
          <button><img src="/images/icon-login.png" alt="로그인"></button>
          <span class="icon-label">로그인</span>
        </div>
        <div class="icon-group">
          <button><img src="/images/icon-join.png" alt="회원가입"></button>
          <span class="icon-label">회원가입</span>
        </div>
      </div>
    </header>
  
    <nav class="gnb">
      <div class="gnb-center">
        <a href="/tR001/selectList">교육과정 신청</a>
        <a href="#">시험신청</a>
        <a href="#">마이페이지</a>
        <a href="#">자료실</a>
      </div>
    </nav>
  </div>
  